{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Base Title</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    {% include 'navbar.html' %}
    
    {% block content %}
    {% endblock %}
</body>
</html>