{% extends 'base.html' %}
{% block content %}
    <h2>{{user.name }}</h2>
    {% csrf_token %}

    {% autoescape on %}
    {{lastname}}
    {% endautoescape %}

    <h4>You have {{ messages|length }} message{{ messages|pluralize }}.</h4>
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>

    <h4>{{ boolean|yesno:"aga,no,nifiga" }}</h4>

    {% comment %}
    <h3>asdfas</h3>
    {% endcomment %}

    {% if user.is_authenticated %} <p>Hi, auth </p> {% endif %}
    <h1 class="red">Home page</h1>
    <h2>My name is {{lastname}}, {{name}} {{lastname}}</h2>
    <p>My cta Title is {{cta.title}} and alt is <b>{{cta.alt}}</b></p>
    {{request}}
    <ul>
        {% for item in all %}
        <li> Cta title = {{ item.title }} </li>
        {% endfor %}
    </ul>
{% endblock %}
