{{name|capfirst|upper}}
<br>
{{name|upper}}
<br>
{{number|add:5}}
<br>
{{name|striptags}}
<br>
{{messages|length}}

<h4>You have {{messages|length}} new message{{messages|pluralize}}</h4>

<h3>{{boolean|yesno:"YaYa my liber sovushka,no,nifiga"}}</h3>

{{zkr.date|date:"D d F Y"}}